/* Search Bar Styles */
.search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: left;
}

.search-bar input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
}
.actions  {
    min-width: 250px;
}


